@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

@layer base {
  .body {
    background-color: theme('colors.neutral-white');
    font-family: theme('fontFamily.inter');
  }
}

@layer components {
  .Navbar {
    background-color: theme('colors.primary-dark');
  }
  .WebsiteName {
    color: theme('colors.neutral-white');
    font-size: 3rem;
    font-weight: 900;
  }
  .Links {
    display: flex;
    color: theme('colors.link');
    font-size: 1.5rem;
    align-items: center;
    gap: 5rem;
    font-weight: 700;
  }
  .User {
    display: flex;
    color: theme('colors.neutral-white');
  }
}