@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

@layer base {
  body {
    background-color: theme('colors.background-color');
  }
  .body {
    font-family: theme('fontFamily.inter');
  }
}

@layer components {
  .Navbar {
    background: theme('colors.navbar-color');
    box-shadow: 1px 1.5px 6px theme('colors.neutral-gray');
    overflow-x: hidden;
  }
  .SiteName {
    display: flex;
    color: theme('colors.neutral-white');
    background: linear-gradient(60deg, transparent 0%, #16137c 100%);
    background-repeat: no-repeat;
    background-size: auto 1rem;
    background-position: bottom;
    font-size: 3rem;
    font-weight: 900;
  }
  .NavLinks {
    display: flex;
    color: theme('colors.neutral-white');
    font-size: 1.5rem;
    align-items: center;
    gap: 5rem;
    font-weight: 700;
  }
  .User {
    display: flex;
    color: theme('colors.neutral-white');
  }
}
