.container {
    display: flex;
    
  }
  
  .left {
    flex-basis: 40%;
    padding: 1rem;
  }
  
  .right {
    flex-basis: 60%;
    padding: 1rem;
  }
  
  .Prod {
    display: flex;
  }
  
  .Container {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 2rem;
    flex-direction: column;
    min-height: 0;
  }
  
  .submit {
    margin-top: 1rem;
  }